@media screen and (max-width:520px) {
    #timer {
        font-size: 2rem;
    }   
    p {
        margin-left: 12.5px;
        font-size: 12px;
    }
    .mar-1 {
        left: -14px;
    }
    .mar-2 {
        left: -7px;
    }
    .mar-3 {
        left: -2px;
    }
    .top{
        transform: translateY(-40px);
    }
    .tym{
        transform: translateY(-38px);
    }
    a{
        width: 45px;
        height: 25px;
    }
    .circle{
        width: 300px;
        height: 300px;
    }
    #control{
        gap: 5px;
    }
    a span{
        font-size: 12px;
        position: relative;
        top: -8px;
    }
}